.navbar-brand {
  cursor: pointer;
}

.bg-light {
  background-color: #1f71ad !important;
}

.fa {
  font-size: 28px;
}

.navbar-nav .nav-item {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-nav .nav-item:hover {
  background-color: rgb(220, 220, 220);
}

.navbar-nav .nav-item a {
  color: white !important;
  font-size: 18px;
}

.navbar-nav .nav-item i {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
