<div id="myWidgetBar" (click)="openNav()" class="sidenav">
  <div class="overflow-button">
    <label ngbButtonLabel class="btn-primary"> Middle </label>
  </div>
  <div class="column1">
    <div class="row">Row 1</div>
    <div class="row">
      Row 2
      <div class="column">Col 1</div>
      <div class="column">Col 2</div>
    </div>
    <div class="row">
      Row 3
      <div class="column">Col 1</div>
      <div class="column">Col 2</div>
    </div>
    <div class="row">Row 4</div>
    <div class="row">
      Row 5
      <div class="column">Col 1</div>
      <div class="column">Col 2</div>
    </div>
  </div>
</div>
