.sidenav {
  height: 100%;
  width: 35px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.overflow-button {
  top: 50%;
}


.chart {
  /* margin: 5px; */
  color: #a3a29e;
  width: 50%;
  /* background-color: blue; */
}

.column-piechart {}

.column-barchart {
  align-items: center;
}
